.square-red {
  border: 12px solid red;
  width: 100px;
  height: 100px;
  animation: rotationRed 6s infinite linear;
  margin-right: -50px;
}
.square-green {
  border: 12px solid green;
  width: 100px;
  height: 100px;
  animation: rotationGreen 6s infinite linear;
}
.squares-wrapper {
  display: flex;
  background-color: white;
  padding: 20px;
  width: 400px;
  height: 400px;
  align-items: center;
  justify-content: center;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
* {
  box-sizing: border-box;
}
@keyframes rotationRed {
  from {
    transform: rotate(0deg);
    z-index: 1;
  }
  to {
    transform: rotate(359deg);
    z-index: 0;
  }
}
@keyframes rotationGreen {
  from {
    transform: rotate(0deg);
    z-index: 0;
  }
  to {
    transform: rotate(359deg);
    z-index: 1;
  }
}
