@import "./settings.scss";

* {
  box-sizing: border-box;
  transform: width 0.5s;
}
hr {
  display: block;
  width: 100%;
}
h1 {
  margin: 0;
  color: #fff;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: $panel-background;
}
::-webkit-scrollbar-thumb {
  background-color: #EEEEEE;
}
body {
  margin: $body-margin;
  background-color: $body-background-color;
  height: 100vh;
}
.panels-wrapper {
  width: $panel-wrapper-width;
  background-color: $panel-background;
  padding: $wrapper-padding;
  border-radius: $wrapper-radius;
  box-shadow: $box-shadow;
}
body,
.panels-container {
  @include justify_content($justify-content: center);
  @include align_items($align-items: center);
}
.panels-container {
  gap: $container-gap;
}
.input-wrapper,
.left-panel,
body,
.panels-container,
.card-controls {
  @include display_mode($mode: flex);
}
.left-panel {
  width: 100%;
  padding: $left-panel-padding;
  gap: $row-gap;
  margin-left: $left-panel-margin;
}
.note-card {
  width: $card-width;
  height: $card-height;
  border: $card-border;
  border-radius: 5px;
}
.notes-section {
  @include display_mode($mode: grid);
  @include column-align($column-function: repeat(2, 1fr));
  row-gap: 15px;
  column-gap: 50px;
}
.card-text {
  height: $card-text-height;
  padding: $text-padding;
}
textarea {
  width: $textarea-size;
  height: $textarea-size;
  font-size: $note-font-size;
  resize: none;
  &:focus {
    outline: 2px solid $button-text-color;
  }
}
.right-panel {
  width: $panel-size;
  overflow-y: $container-overflow;
  height: $card-height;
}
.card-controls {
  padding: $left-panel-padding;
  background-color: $note-section-background;
  @include justify_content($justify-content: flex-end);
  gap: $controls-gap;
}
.note-text {
  color: white;
  font-size: $note-font-size;
}
.left-panel button {
  border: none;
  @include align_position($position: relative);
  color: $button-text-color;
  font-size: $button-font-size;
  font-weight: $header-font-weight;
  background: none;
  right: 60px;
  &:hover {
    color: $button-hover-color;
  }
}
.left-panel textarea {
  border-radius: $input-radius;
  width: $panel-size;
}
.card-controls button {
  border: none;
}
.edit-note,
.update-note,
.delete-note {
  background-color: $button-control-background;
}
.delete-note {
  &:hover {
    color: $button-delete;
  }
}
.update-note {
  &:hover {
    color: $button-update;
  }
}
.edit-note {
  &:hover {
    color: $button-edit;
  }
}

.delete-note,
.update-note,
.edit-note {
  border-radius: $control-button-radius;
  height: $button-height;
  @include display_mode($mode: flex);
  @include align_items($align-items: center);
  &:hover {
    background-color: #fff;
  }
}
.left-panel,
.panels-container {
  @include display_direction($direction: column);
}
@media screen and (max-width: $xlg-screen-size) {
  .panels-wrapper {
    width: $wrapper-xlg-size;
  }
}
@media screen and (max-width: $lg-screen-size) {
  .panels-wrapper {
    width: auto;
  }
}
